name: Validate PR
on:
  push: # pull_request를 push로 변경
    branches: [main]
jobs:
  check_formatting:
    runs-on: ubuntu-latest
    name: Check Formatting
    steps:
      - uses: actions/checkout@v2
      - run: |
          dotnet tool restore
          dotnet csharpier check .
